
test_my_player
test_my_player_unit
test_stats

*.a
*.so
*.o




CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
build/


*test_my_player_unit[1]_tests.cmake
*test_my_player_unit[1]_include.cmake


# 3. Мусор от LaTeX (оставляем только .tex)

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fl
.idea/
.vscode/
*~
*.swp
all_games_moves.txt